include shop_top 
    body.h-card.h-bg-white
        .h-card
            span
                span.h-text-bold.h-text-blight.h-text-left avios
            span.h-outline-blight.h-card-sm.h-right
                span.h-text.h-text-black.h-text-right Welcome, #{user.username} &nbsp;&nbsp;
                a.h-button.h-text-white.h-bg-yellow(href="/logout") Logout
        br
        br
        .h-card.h-bg-lightgreen
            h3.h-text-bold.h-text-white Add Product
        form.h-center.h-card-sm(action = "product/create", method="POST")
            div 
                p.h-text-bold Product Name
                input.h-input(id="product_name",name="product_name",type="text",placeholder="product name") 
            div 
                p.h-text-bold Product Description
                textarea.h-input(id="product_description",name="product_description", cols="30", rows="10")
                  
            div 
                p.h-text-bold Product Varieties
                .h-card.h-outline-pinkish
                    span.h-button.h-bg-yellow.h-text(onclick="add_product_nav.add_variety()") Add Product Variety
                    br
                    #product_varieties_container.h-shadow-pinkish-1
                        .h-card.product_variety.h-outline-blight(name="product_varieties")
                            .h-row
                                span.h-col-4
                                    input.h-input(name="size:1",type="text",placeholder="size") 
                                br
                                br
                                span.h-col-6
                                    input.h-input(name="color1",type="text",placeholder="color")    
                                br
                                br
                                span.h-col-4
                                    input.h-input(name="quantity1",type="number",placeholder="quantity")    
                                br
                                br
                                span.h-col-6
                                    input.h-input(name="price1",type="number",placeholder="price")
                                div 
                                    span.h-col-4
                                        input.h-input.h-text(accept="image/png, image/jpeg",name="image1",type="file",placeholder="file")    
                                    br
                                    br
                                    span.h-col-4
                                        input.h-input.h-text(accept="image/png, image/jpeg",name="image2",type="file",placeholder="file")    
                                    br
                                    br
                                    span.h-col-4
                                        input.h-input.h-text(accept="image/png, image/jpeg",name="image3",type="file",placeholder="file")    
                                    br
                                    br
                            br
                            a.h-right.h-button.h-bg-red.h-text-white.h-text(onclick="javascript:add_product_nav.delete(this)") Delete
                            br
                            br
            button(type="submit").h-button.h-bg-blight.h-text-bold.h-text-white Submit Product                


include shop_bottom

script(type="text/javascript").
    imageToBase = async (element) => {
        var file = element.files[0];
        var reader = new FileReader();
        new Promise((resolve,reject) => {
            reader.onloadend = function() {
                resolve(reader.result);
                console.log('RESULT', reader.result)
            }
        })
        reader.readAsDataURL(file);
    }

    let product_variety_html = `<div class="h-card product_variety" name="product_varieties"><div class="h-row"><span class="h-col-4"><input class="h-input" name="size" type="text" placeholder="size"></span><br><br><span class="h-col-6"><input class="h-input" name="color" type="text" placeholder="color"></span><br><br><span class="h-col-4"><input class="h-input" name="quantity" type="number" placeholder="quantity"></span><br><br><span class="h-col-6"><input class="h-input" name="price" type="number" placeholder="price"></span></div><br><a class="h-right h-btn-stop" onclick="javascript:add_product_nav.delete(this)">Delete</a><br></div>`
    var add_product_nav = {
        add_variety : async () => {
            var ex = document.getElementsByClassName('product_variety');
            var amt = ex.length;
            document.getElementById("product_varieties_container").innerHTML += `<div class="h-card product_variety h-outline-blight" name="product_varieties">
                                                                                    <div class="h-row">
                                                                                        <span class="h-col-4">
                                                                                            <input class="h-input" name="size${amt + 1}" type="text" placeholder="size">
                                                                                        </span>
                                                                                        <br>
                                                                                        <br>
                                                                                        <span class="h-col-6">
                                                                                            <input class="h-input" name="color${amt + 1}" type="text" placeholder="color">
                                                                                        </span>
                                                                                        <br>
                                                                                        <br>
                                                                                        <span class="h-col-4">
                                                                                            <input class="h-input" name="quantity${amt + 1}" type="number" placeholder="quantity">
                                                                                        </span>
                                                                                        <br>
                                                                                        <br>
                                                                                        <span class="h-col-6">
                                                                                            <input class="h-input" name="price${amt + 1}" type="number" placeholder="price">
                                                                                        </span>
                                                                                        <div>
                                                                                            <span class="h-col-4">
                                                                                                <input class="h-input h-text" accept="image/png, image/jpeg" name="image1" type="file" placeholder="file">
                                                                                            </span>
                                                                                            <br>
                                                                                            <br>
                                                                                            <span class="h-col-4">
                                                                                                <input class="h-input h-text" accept="image/png,  image/jpeg" name="image2" type="file",placeholder="file">
                                                                                            </span>
                                                                                            <br>
                                                                                            <br>
                                                                                            <span class="h-col-4">
                                                                                                <input class="h-input h-text" accept="image/png, image/jpeg" name="image3" type="file" placeholder="file">
                                                                                            </span>
                                                                                            <br>
                                                                                            <br>
                                                                                    </div>
                                                                                    <br>
                                                                                    <a class="h-right h-button h-bg-red h-text h-text-white" onclick="javascript:add_product_nav.delete(this)">
                                                                                        Delete
                                                                                    </a>
                                                                                    <br>
                                                                                    <br>
                                                                                </div>`;
        },
        delete : async (e) => {
            console.log(e);
            e.parentElement.remove();
        }
    }
    document.forms[0].onsubmit = (async (e)=>{
        e.preventDefault();
        console.log(e)
        var all_product_variety = document.getElementsByClassName("product_variety");
        var product_varieties = [];
        for(var i=0; i < all_product_variety.length ; i++) {
            var inputs = all_product_variety[i].getElementsByTagName("input");
            var [size,color,quantity,price,image1,image2,image3] = inputs;
            console.log(inputs);
            console.log(image1);
            image1.value ? image1 = await imageToBase(image1) : image1 = "";
            image2.value ? image2 = await imageToBase(image2) : image2 = "";
            image3.value ? image3 = await imageToBase(image3) : image3 = "";

            var product_variety = {
                size : size.value,
                color : color.value,
                price : price.value,
                quantity : quantity.value,
                images : [
                    image1,
                    image2,
                    image3
                ]
            }
            product_varieties.push(product_variety);
        }
        var product = {
            product_name : document.getElementById("product_name").value,
            product_description : document.getElementById("product_description").value,
            product_varieties : product_varieties
        }
        console.log(product)
        /**/
        var opt = {
            method : "post",
            headers : {
                "Content-Type" : "application/json"
            },
            body : JSON.stringify(product)
        }
        var req = await fetch("/product/create",opt);
        req = await req.json();
        if (req.type == "success"){
            alert("Product added successfully  ");
            document.location.reload();
        }
        else {
            alert(`Product could not be added \n Error:: ${req.errors}`);
        }
        /**/
    }) 