include shop_top 

    body
        .h-card.h-bg-white 
            h2.h-text-green.h-text avios 
        
        .products.h-card.h-bg-white 
            h6.h-text-bold.h-text-blight Products

            for product in products 
                -var p = product.product_varieties
                .h-card.h-bg-purple 
                    h5.h-text-bold.h-text-white #{product.product_name}
                    p.h-text.h-text-white #{product.product_description}
                    for variety in JSON.parse(p)
                        .h-card-sm.h-bg-white 
                            p.h-text.h-text-pinkish Size : #{variety.size}
                            p.h-text.h-text-pinkish Color : #{variety.color}
                            p.h-text.h-text-black Qty : #{variety.quantity}
                            p.h-text-bold.h-text-pinkish Price : #{variety.price}
                    button.h-button.h-bg-red.h-center-text.h-text-white Delete

include shop_bottom