include shop_top 

    body
        -var user = user
        .h-card
            span
                span.h-text-bold.h-text-blight.h-text-left avios
            span.h-outline-blight.h-card-sm.h-right
                if user
                    span.h-text.h-text-black.h-text-right Welcome, #{user.username} &nbsp;&nbsp;
                    button.h-button.h-text-white.h-bg-yellow(href="/logout") Logout
                else 
                    a.h-button.h-text-white.h-bg-yellow(href="/login") Login
        
        .products.h-card.h-bg-white 
            h6.h-text-bold.h-text-blight Products
            if products.length < 1
                p.h-text No products found.
                    if user
                        a(href="/add_product").h-outline-lightblue Visit the add products page 
                    else
                        a(href="/login").h-outline-lightblue Login 
                    span.h-text to add products    
            for product in products 
                -var p = product.product_varieties
                -var imgs = product.images
                .h-card.h-bg-purple 
                    h5.h-text-bold.h-text-white #{product.product_name}
                    p.h-text.h-text-white #{product.product_description}
                    for variety in JSON.parse(p)
                        .h-card-sm.h-bg-white 
                            p imgs : #{imgs}
                            
                            p.h-text.h-text-pinkish Size : #{variety.size}
                            p.h-text.h-text-pinkish Color : #{variety.color}
                            p.h-text.h-text-black Qty : #{variety.quantity}
                            p.h-text-bold.h-text-pinkish Price : #{variety.price}
                    if user
                        if user.type == "seller"
                            a.h-button.h-bg-yellow.h-center-text.h-text-white(href=`/edit_product${product.id}`) Edit
                            a.h-button.h-bg-red.h-center-text.h-text-white(href=`/delete_product${product.id}`) Delete

include shop_bottom